<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clientes</title>
    <link rel="stylesheet" th:href="@{/styles/ventas.css}">
</head>

<body>
<div class="navbar">
        <h2>Sistema de Ventas</h2>

        <div class="nav-actions">
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/clientes/nuevo}">
                Agregar
            </a>
        </div>
    </div>

    <div class="container">

    <h1>Clientes</h1>

    <div class="search-bar">
        <input type="text" placeholder="Buscar cliente por ID">
        <button>Buscar</button>
    </div>

    <table class="data-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dirección</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.dpiCliente}"></td>
            <td th:text="${cliente.nombreCliente}"></td>
            <td th:text="${cliente.apellidoCliente}"></td>
            <td th:text="${cliente.direccion}"></td>
            <td th:text="${cliente.estado == 1 ? 'Activo' : 'Inactivo'}"></td>
            <td>
                <div class="acciones">

                    <a th:href="@{/clientes/editar/{id}(id=${cliente.dpiCliente})}"
                       class="btn btn-edit">
                        Editar
                    </a>

                    <form th:action="@{/eliminar/{id}(id=${cliente.dpiCliente})}"
                          method="post">
                        <button class="btn btn-danger">
                            Eliminar
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>