<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clientes</title>
    <link rel="stylesheet" th:href="@{/styles/ventas.css}">
</head>

<body>

<div class="navbar">
    <h2>Sistema de Ventas</h2>

    <div class="nav-actions">
        <a th:href="@{/home}">Home</a>
        <a href="#">Agregar</a>
        <a href="#">Eliminar</a>
        <a href="#">Buscar</a>
        <a href="#">Editar</a>
    </div>
</div>

<div class="container">

    <h1>Detalle de Ventas</h1>

    <div class="search-bar">
        <input type="text" placeholder="Buscar detalle por ID">
        <button>Buscar</button>
    </div>

    <table class="data-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
            <th>Codigo Producto</th>
            <th>Codigo Venta</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="item  : ${detalleVenta}">
            <td th:text="${item.codigoDetalleVenta}"></td>
            <td th:text="${item.cantidad}"></td>
            <td th:text="${item.precioUnitario}"></td>
            <td th:text="${item.subtotal}"></td>
            <td th:text="${item.productosCodigoProducto}"></td>
            <td th:text="${item.ventasCodigoVenta}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>