<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" th:href="@{/styles/login.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

</head>
<body>

<div class="login-container">

    <form class="form" th:action="@{/login}" method="post">

        <p id="heading">Login</p>

        <div class="field">
            <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor">
                <path d="..."/>
            </svg>

            <input
                    type="text"
                    name="usuario"
                    placeholder="Usuario"
                    class="input-field"
                    required>
        </div>

        <div class="field">
            <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor">
                <path d="..."/>
            </svg>

            <input
                    type="password"
                    name="password"
                    placeholder="Contraseña"
                    class="input-field"
                    required>
        </div>

        <div class="btn">
            <button type="submit" class="button1">Login</button>

            <a th:href="@{/registro}" class="button2">
                Register
            </a>
        </div>

        <p th:if="${error}" th:text="${error}"></p>

    </form>

</div>

</body>
</html>