<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Productos</title>
    <link rel="stylesheet" th:href="@{/styles/ventas.css}">
</head>

<body>

<div class="navbar">
    <h2>Sistema de Ventas</h2>

    <div class="nav-actions">
        <a th:href="@{/home}">Home</a>
        <a href="#">Agregar</a>
        <a href="#">Eliminar</a>
        <a href="#">Buscar</a>
        <a href="#">Editar</a>
    </div>
</div>

<div class="container">

    <h1>Productos</h1>

    <div class="search-bar">
        <input type="text" placeholder="Buscar producto por ID">
        <button>Buscar</button>
    </div>

    <table class="data-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Estado</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="producto  : ${productos}">
            <td th:text="${producto.codigoProducto}"></td>
            <td th:text="${producto.nombreProducto}"></td>
            <td th:text="${producto.precio}"></td>
            <td th:text="${producto.stock}"></td>
            <td th:text="${producto.estado == 1 ? 'Activo' : 'Inactivo'}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>