<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuarios</title>
    <link rel="stylesheet" th:href="@{/styles/ventas.css}">
</head>

<body>

<div class="navbar">
    <h2>Sistema de Ventas</h2>

    <div class="nav-actions">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/usuarios/nuevo}">
            Agregar
        </a>
    </div>
</div>

<div class="container">

    <h1>Usuarios</h1>

    <div class="search-bar">
        <input type="text" placeholder="Buscar usuario por ID">
        <button>Buscar</button>
    </div>

    <table class="data-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.codigoUsuario}"></td>
            <td th:text="${usuario.username}"></td>
            <td th:text="${usuario.email}"></td>
            <td th:text="${usuario.rol}"></td>
            <td th:text="${usuario.estado == 1 ? 'Activo' : 'Inactivo'}"></td>
            <td>
                <div class="acciones">

                    <a th:href="@{/usuarios/editar/{id}(id=${usuario.codigoUsuario})}"
                       class="btn btn-edit">
                        Editar
                    </a>

                    <form th:action="@{/usuarios/eliminar/{id}(id=${usuario.codigoUsuario})}"
                          method="post">
                        <button class="btn btn-danger">
                            Eliminar
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>