<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuarios</title>
    <link rel="stylesheet" th:href="@{/styles/ventas.css}">
</head>

<body>

<div class="navbar">
    <h2>Sistema de Ventas</h2>

    <div class="nav-actions">
        <a th:href="@{/home}">Home</a>
        <a href="#">Agregar</a>
        <a href="#">Eliminar</a>
        <a href="#">Buscar</a>
        <a href="#">Editar</a>
    </div>
</div>

<div class="container">

    <h1>Usuarios</h1>

    <div class="search-bar">
        <input type="text" placeholder="Buscar usuario por ID">
        <button>Buscar</button>
    </div>

    <table class="data-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Estado</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="usuario  : ${usuarios}">
            <td th:text="${usuario.codigoUsuario}"></td>
            <td th:text="${usuario.username}"></td>
            <td th:text="${usuario.email}"></td>
            <td th:text="${usuario.rol}"></td>
            <td th:text="${usuario.estado == 1 ? 'Activo' : 'Inactivo'}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>