*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

/* Fondo */
body{
    background: linear-gradient(135deg,#1e293b,#020617);
    color: #e5e7eb;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: #020617;
    border-bottom: 2px solid #93c5fd;
}

.navbar h2{
    color: #f5f5dc;
}

.profile-pic{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
    display:block;
}

.user-info{
    display:flex;
    align-items:center;
    gap:10px;
}

/* Menú */
.menu {
    display: flex;
    gap: 20px;
    margin: 0 auto;
}

.menu a {
    color: #cbd5f5;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 8px;
    transition: 0.25s;
}

.menu a:hover {
    background: #1e293b;
    color: #f5f5dc;
}

/* Usuario */
.user-info{
    display:flex;
    align-items:center;
    gap:15px;
    color: #94a3b8;
}

/* Botón */
.logout-btn{
    padding:8px 14px;
    border:none;
    border-radius:8px;
    background:#f5f5dc;
    color:#1e293b;
    cursor:pointer;
    transition:0.3s;
    font-weight: 500;
}

.logout-btn:hover{
    background:#e8e4c9;
}


.dashboard{
    padding:40px;
}

.dashboard h1{
    text-align:center;
    margin-bottom:40px;
    color: #f5f5dc;
}


.crud-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:25px;
}

/* Tarjetas */
.crud-card{
    background:#111827;
    padding:40px;
    text-align:center;
    border-radius:16px;
    font-size:18px;
    font-weight:600;
    text-decoration:none;
    color:#e2e8f0;
    transition:0.3s;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    border: 1px solid #1e293b;
}

.crud-card:hover{
    background:#1e293b;
    transform:translateY(-5px) scale(1.03);
    color:#f5f5dc;
    border: 1px solid #93c5fd;
}