*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(135deg,#020617,#111827);
    color: #e5e7eb;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #111827;
    border-bottom: 1px solid #334155;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.navbar h2 {
    color: #e5e7eb;
}

.nav-actions {
    display: flex;
    gap: 15px;
}

.nav-actions a {
    color: #dbeafe;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 8px;
    transition: 0.25s;
    font-weight: 500;
}

.nav-actions a:hover {
    background: #1e293b;
    color: #93c5fd;
}


.container {
    padding: 40px;
}


.container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #bfdbfe;
}


.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.search-bar input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    width: 260px;
    background: #1f2937;
    color: white;
    outline: none;
    border: 1px solid #374151;
}

.search-bar input:focus {
    border: 1px solid #60a5fa;
}

.search-bar button {
    padding: 12px 18px;
    border: none;
    background: #60a5fa;
    color: #111827;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.25s;
}

.search-bar button:hover {
    background: #3b82f6;
    color: white;
}


.data-table {
    width: 100%;
    border-collapse: collapse;
    background: #1f2937;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: 1px solid #374151;
}


.data-table thead {
    background: #60a5fa;
    color: #111827;
}

.data-table th {
    padding: 14px;
    font-weight: bold;
}


.data-table td {
    padding: 12px;
    text-align: center;
    color: #e5e7eb;
}

.data-table tbody tr {
    border-bottom: 1px solid #374151;
    transition: 0.2s;
}

.data-table tbody tr:hover {
    background: #334155;
    transform: scale(1.01);
}

.acciones{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
}

.acciones form{
    margin:0;
}

.btn {
    padding:6px 10px;
    font-size:13px;
    border-radius:6px;
    border:none;
    cursor:pointer;
    font-weight:600;
    transition:0.2s;
    display:inline-flex;
    align-items:center;
    justify-content:center;
}

.btn-primary {
    background: #60a5fa;
    color: #111827;
}

.btn-primary:hover {
    background: #3b82f6;
    color: white;
}

.btn-edit{
    background:#93c5fd;
    color:#020617;
    padding:6px 10px;
    border-radius:6px;
    text-decoration:none;
    min-width:70px;
}

.btn-edit:hover{
    background:#60a5fa;
}

.btn-danger {
     background:#ef4444;
     color:white
     min-width:70px;
}

.btn-danger:hover {
    background:#dc2626;
}


